
.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 94px 50px;
}

.menu {
   display: flex;
   list-style: circle;
   justify-content: space-between;
   width: 388px;
}
.menu__item {
   font-family: Raleway, sans-serif;
   font-size: 18px;
   font-weight: 400;
   border-bottom: 1px solid #000;
}

.menu__item:first-child {
   list-style: none;
   border: none;
}

.header__logo {
   padding: 0 365px 0 215px;
}

.header__logo-image {
   display: block;
   max-width: 133px;
   height: 104px;
}

.menu-info {
   list-style: none;
}

.menu-info__link {
   font-family: Raleway, sans-serif;
   font-size: 18px;
   font-weight: 400;
   line-height: 1.35;
   border-bottom: 1px solid #000;
}

.menu-info__text {
   font-family: Raleway, sans-serif;
   font-size: 18px;
   font-weight: 400;
   line-height: 1.35;
}

.cover {
   background-image: url(/images/cover.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}

.overlay {
   background-color: rgba(0, 0, 0, 0.6);
   width: 100%;
   height: inherit;
}

.cover-title {
   color: #fff;
   font-family: Raleway, sans-serif;
   font-size: 100px;
   font-style: normal;
   font-weight: 700;
   line-height: 1.24;
   letter-spacing: 30px;
   text-transform: uppercase;
   padding: 163px 50px 120px;
}

.accent-span {
   display: block;
}

.text-center {
   text-align: center;
   padding-right: 30px;
}

.text-right {
   text-align: right;
}

.letter-spacing {
   letter-spacing: 0.6em;
}

.no-letter-spacing {
   letter-spacing: 0;
}

.cover__description {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding: 0 50px 50px;
}

.cover__description-text {
   color: #FFF;
   text-align: center;
   font-family: Raleway, sans-serif;
   font-size: 22px;
   font-weight: 400;
   line-height: 1.25;
   text-transform: uppercase;
   word-spacing: 18px;
}

.cover__description-btn {   
   display: block;
   background: transparent;
   font-family: Raleway, sans-serif;
   padding: 12px 32px;
   border: 1px solid #fff;
   color: #fff;
   font-size: 22px;
   font-weight: 400;
   text-align: center;
   text-transform: uppercase;
   margin-left: 78px;
   cursor: pointer;   
}

.lots {
   padding: 180px 50px;
}

.lots__heading {
   color: #000;
   font-family: Raleway, sans-serif;
   font-size: 40px;
   font-weight: 700;
   text-transform: uppercase;
   margin: 0 0 27px 40px;
}

.lots__card-list {
   display: flex;
   flex-wrap: wrap;
   gap: 25px;
   list-style: none;
   margin-bottom: 30px;
}

.lots__card-list-item {
   flex: 1 0 0%;
   min-height: 450px;
   min-width: 430px;
}


.card_type_film {
   background-image: url(/images/card-lot-01.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}

.card_type_book {
   background-image: url(/images/card-lot-02.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}

.card_type_picture {
   background-image: url(/images/card-lot-03.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}

.card-link {
   height: 100%;
   text-decoration: none;
}

.card {
   font-family: Raleway, sans-serif;
   color: #fff;  
   height: inherit;
}

.card .overlay {
   padding: 50px 40px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.card__title {
   font-size: 22px;
   font-weight: 700;
   line-height: 1.2;
   text-decoration-line: underline;
   text-transform: uppercase;
}

.card__text {
   font-size: 20px;
   font-weight: 400;
   line-height: 1.2;
}

.lots__look-more-link {
   color: #000;
   font-family: Raleway, sans-serif;
   font-size: 20px;
   font-weight: 400;
   border-bottom: 1px solid #000;
}

.lots__look-more-link {
   margin-left: 40px;
}

.about {   
   display: flex;
   gap: 25px;
   padding: 0 50px 180px 50px;
   color: #000;
   font-family: Raleway, sans-serif;
}

.about__column:last-child {
   margin-top: 103px;
}

.about__logo {
   background-color: #000;
   border-radius: 50%;
   margin: 0 95px;
   padding: 63px 46px;
}

.about__logo-image {
   display: block;
   width: 148px;
}


.about__title {
   font-size: 40px;
   font-weight: 700;
   text-transform: uppercase;
}

.about__text {
   font-size: 20px;
   font-weight: 400;
   display: flex;
   flex-direction: column;
   gap: 25px;
   margin-top: 100px;
}

.footer {
   font-size: 18px;
   font-weight: 400;
   padding: 0 50px 90px;
   display: flex;
   justify-content: space-between;
}

.address {
   flex: 0 0 auto;
   width: 240px;
   line-height: 1.35;
   text-underline-position: under;
}

.footer__address-link{
   border-bottom: 1px solid #000;
}

.footer__menu {
   flex: 0 0 auto;
   width: auto;
   display: flex;
   flex-direction: column;
   text-align: center;
}

.footer__menu-list {
   list-style: none;
}

.footer__menu-link {
   border-bottom: 1px solid #000;
}

.footer__menu-link_active {
   border-bottom: none;
}

.footer__social-list {
   flex: 0 0 auto;
   display: flex;
   justify-content: end;
   gap: 48px;
   list-style: none;
}

.footer__social-icon {
   width: 48px;
   height: 48px;
}
